.avatar {
  width: 100px;
  margin-top: -2px;
  display: flex;
  align-items: center;
}

.img {
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 400px) {
  .avatar,
  .img {
    width: 75px;
  }
}
