.root {
  background: #c0392b;
  color: #fff;
  padding: 5px 15px;
}

.items {
  display: flex;
  flex-wrap: wrap;

  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .root {
    padding: 5px;
  }
}
