.nav {
  margin: 12.5px auto 0 auto;
  display: flex;
  align-items: center;
}

.nav li {
  text-align: center;
  display: inline-block;
  margin-bottom: 7.5px;
}

.nav li:not(:last-child) {
  margin-right: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 5px;
  width: 80px;
  text-align: center;

  background-image: repeating-linear-gradient(
    -55deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 10px,
    rgba(255, 255, 255, 0.1) 10px,
    rgba(255, 255, 255, 0.1) 20px
  );
}

.link:focus,
.link:hover {
  background-image: repeating-linear-gradient(
    -55deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 10px,
    rgba(255, 255, 255, 0.3) 10px,
    rgba(255, 255, 255, 0.3) 20px
  );

  outline-style: solid;
  outline-color: #fff;
  outline-width: 1.5px;
}

.activeLink {
  composes: link;

  border-bottom-color: #fff;
}
