.socialMenu {
  text-align: right;
  display: inline;
}

.socialMenu li {
  display: inline-block;
  text-align: center;
}

.socialMenu a {
  color: rgba(255, 255, 255, 0.4);
}

.socialMenu a:hover,
.socialMenu a:focus {
  color: #fff;
}

.socialMenu a:focus {
  outline-style: solid;
  outline-color: #fff;
  outline-width: 1.5px;
}

.socialMenu svg {
  height: 1.5em;
}
