.root {
  display: flex;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 400px;
}

/* "Narrow" */
@media only screen and (max-width: 730px) {
  .root {
    flex-direction: column;
  }
}
