.root {
}

.title {
  text-transform: uppercase;
  color: #888;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0.67em 0;
}
