.section {
  padding: 50px 50px 10px 50px;
}

.heading {
  font-weight: 400;
  margin-bottom: 20px;
}

.subheading {
  font-weight: 600;
  font-size: 1.25rem;
}

.spacedListItem {
  margin-bottom: 10px;
}

/* "Mobile" */
@media only screen and (max-width: 500px) {
  .section {
    padding: 20px 10px 10px 10px;
  }
}
