.root {
  composes: section from './shared.module.css';
}

.job {
  display: flex;
  margin: 40px 0 0 0;
}

.position {
  margin-bottom: 20px;
}

.company {
  flex: 1;
}

.companyName {
  composes: subheader from './shared.module.css';
  display: inline;
}

.date {
  text-align: right;
}

.highlights {
  list-style-type: disc;
  margin-left: 35px;
}

/* "Mobile" */
@media only screen and (max-width: 500px) {
  .job {
    flex-direction: column-reverse;
  }

  .date {
    text-align: left;
    font-size: 0.9rem;
  }
}
