.root {
  max-width: 860px;
  margin: 1em auto;
}

.map {
  height: 500px;
}

.meta {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .meta {
    flex-direction: column;
  }

  .meta > *:nth-child(1) {
    margin: 1rem 0;
  }

  .map {
    height: 300px;
  }
}
