.root {
  composes: root from './TravelContent.module.css';
  padding-bottom: 5rem;
}

.prevNext {
  display: flex;
  justify-content: space-between;
}

.arrow {
  vertical-align: middle;
}

.link {
  padding: 1rem;
}

.link:hover {
  background-color: #00000022;
}

.nextLink {
  composes: link;
  text-align: right;
}

.prevLink {
  composes: link;
}

@media only screen and (max-width: 600px) {
  .prevNext {
    flex-direction: column;
  }
}
