.header {
  position: relative;
  height: 90vh;
}

.photoCount {
  color: #fff;
  font-weight: bold;
  margin: 0.55rem 1rem !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  text-shadow: 1px 1px 5px #000;
}

.carousel {
  position: absolute;
  z-index: 1;
}

.carouselOverlay {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.carouselOverlay > * {
  pointer-events: all;
}

.carousel,
.carouselOverlay,
.coverImage {
  width: 100vw;
  height: 90vh;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.buttons > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.prevPhotoButton,
.nextPhotoButton {
  pointer-events: all;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: #ffffffcc;
  border: 0;
  border-radius: 50%;
  font-size: 5rem;
  width: 100px;
  height: 100px;
  opacity: 0.2;
}

.prevPhotoButton:hover,
.nextPhotoButton:hover {
  opacity: 1;
}

.arrowIcon {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.title {
  position: absolute;
  bottom: 0;
  padding: 0.7rem;
  text-shadow: 1px 1px 5px #000;
}

.miniHeader {
  position: absolute;
  z-index: 3;
}

@media only screen and (min-width: 600px) {
  /* Bump up the font size a bit on larger screens */
  .title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  /* Hide arrow buttons on small screens */
  .buttons {
    display: none;
  }
}
