.root {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.icon {
  margin-right: 0.8rem;
}

.title {
}

@media only screen and (min-width: 600px) {
  .root {
    font-size: 2rem;
  }
}
