html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #111;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

a {
  color: #111;
}

ul,
ol {
  list-style-type: none;
}

body,
html {
  height: 100%;
}

[data-nextjs-scroll-focus-boundary] {
  display: flex;
}
